---
layout: default

title: Articles
---

<div class="posts">
{% for post in site.posts %}
  {% unless !post.published %}
    {% unless post.categories contains 'recipe' or post.tags contains 'recipe' %}
    <div class="article">
      {% if post.thumbnail %}
      <a href="{{ post.url | prepend: site.baseurl }}">
        {% img '{{ post.thumbnail }}' alt:'{{ post.title }}' class:'thumbnail' %}
      </a>
      {% endif %}
      <h2>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
    </div>
    {% endunless %}
  {% endunless %}
{% endfor %}
</div>
