---
layout: default

title: Recipes
---

<div class="posts">
  {% for post in site.posts %}
  {% unless !post.published %}
  {% if post.categories contains 'recipe' or post.tags contains 'recipe' %}
  <div class="recipe">
    {% if post.thumbnail %}
    {% img '{{ post.thumbnail }}' class:'thumbnail' width:180 height:180 magick:resize:180x180 %}
    {% endif %}
    <h2>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
  </div>
  {% endif %}
  {% endunless %}
  {% endfor %}
</div>
