<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<div class="sidebar" id="sidebar">
  <div class="sidebar-item logo">
    {% img logo %}
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% for p in site.pages | sort: "url" %}
      {% if p.title != null and p.layout == "page" and p.hidden != true %}
        {% if p.title_words %}
          {% assign title_words = p.title_words %}
        {% else %}
          {% assign title_words = 4 %}
        {% endif %}

        {% assign title = p.title | split: ' ' %}
        
        {% capture pagetitle %}{% assign i = 0 %}{% for word in title %}{% if i < title_words and word != '-' %}{{ word }} {% endif %}{% assign i = i | plus: 1 %}{% endfor %}{% endcapture %}

        <a class="sidebar-nav-item{% if page.url == p.url %} active{% endif %}" href="{{ p.url }}">{{ pagetitle }}</a>
      {% endif %}
    {% endfor %}
  </nav>

  <div class="sidebar-item search">
    <form action="http://www.google.com/cse">
      <input name="cx" type="hidden" value="010615456591718210596:ldm3ulqsfqs" /> 
      <input name="ie" type="hidden" value="UTF-8" />
      <input name="q" type="text" size="18" />
      <input name="sa" type="submit" value="Search" /> 
    </form>
  </div>
</div>