body {
  // background-color: #DCEDC8;
  background-color: #FFE3C6;
  font-family: 'Dosis', sans-serif;
}

h1 {
  color: #4CAF50;
  font-size: 3.5rem;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px #388E3C, -2px -2px #8BC34A;
}

h2, h3, h4, h5 {
  color: #4CAF50;
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;
}

a {
  font-weight: bold;
  color: #4CAF50;
}
a:hover {
  color: #8BC34A;
  text-decoration: underline;
}
a:visited {
  color: #388E3C;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #8BC34A;
}

legend {
  color: #4CAF50;
  font-size: 1.5625rem;
}

.menu {
  background-color: #FFD5A9;
}
.menu .active a {
  text-decoration: underline;
}
.menu a {
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
}

.callout {
  background-color: inherit;
  border: none;
}
.callout.primary a {
  color: #4CAF50;
}
.callout.primary a:hover {
  color: #4CAF50;
  text-decoration: none;
}

.sticky ul {
  margin-left: 1.25rem;
}

.pagination .current {
  background: #C5E1A5;
  color: #fefefe;
  font-weight: bold;
}

.pagination a {
  color: #4CAF50;
}
.pagination a:hover {
  background-color: #C5E1A5;
}

.pagination .disabled {
  color: #999;
}

.thumbnail {
  max-height: 350px;
}

.recipe {
  display: inline-block;
  margin: 1em;
  width: 190px;
  vertical-align: top;
}
.recipe h2 {
  font-size: 1.5em;
  text-align: center;
}
.recipe .thumbnail {
  display: block;
  max-height: 180px;
  margin: 0 auto 0.5em;
}

.blog-post {
  margin-bottom: 1em;
}
.blog-post .thumbnail {
  max-height: 140px;
  margin-right: 1em;
}
.blog-post .summary {
  display: inline;
  vertical-align: top;
}

#selfie {
  display: block;
  width: 180px;
  height: 180px;
  margin: 0 auto 10px auto;
}

#content {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

#mc-embedded-subscribe-form {
  background-color: #FFE3C6;
  padding: 0 !important;
}

#mc-embedded-subscribe {
  background: #4CAF50 !important;
}

.mc-field-group {
  padding-bottom: 0;
  margin-top: -10px;
}

.social {
  margin-bottom: 1em;
}
.social a, .fb-like, .twitter-share-button {
  margin-right: 1em;
  vertical-align: middle;
}
