---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="container content">

    <div class="post-content" itemprop="articleBody">
      <h2>{{ page.title }}</h2>

      {{ content }}
    </div>

    <div class="sharing">
      <div class="social">
        <a data-pin-do="buttonPin" data-pin-tall="true" data-pin-round="true" data-pin-save="false" href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description={{ page.title | escape }}"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_round_red_32.png" /></a>

        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>

        <a href="https://twitter.com/share" class="twitter-share-button"{count} data-size="large">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>

    </div>

    {% assign related_posts = site.related_posts %}
    {% if related_posts.size > 0 %}
    <div class="related">
      <h2>You might also be interested in...</h2>
      <ul class="related-posts">
        {% for post in related_posts limit:3 %}
          <li>
            <h3>
              <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
                <small>{{ post.date | date_to_string }}</small>
              </a>
            </h3>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="comments">
      <h3>Comments</h3>

      {% include disqus.html %}
    </div>

  </div>

</article>
