---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="container content">

    <div class="post-content" itemprop="articleBody">
      {{ content }}

      <p>Thank you for reading! If you enjoyed it and want to learn more, make sure you subscribe to receive updates.</p>
    </div>

    <div id="mc_embed_signup">
    <form action="//programmingjs.us12.list-manage.com/subscribe/post?u=e02e506170ec88c7dd2825def&amp;id=691544088a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate subscribe form" target="_blank" novalidate>
      <legend>Subscribe to Programming JavaScript</legend>
      <div class="mc-field-group">
        <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="First Name">
      </div>
      <div class="mc-field-group">
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e02e506170ec88c7dd2825def_691544088a" tabindex="-1" value=""></div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
      <small>You'll receive about one email a month. If you change your mind, you can unsubscribe at any time.</small>
    </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

    <div class="sharing">
      <h4>And if you loved this article, share it with your geeky friends.</h4>

      <div class="social">
        <script>
          reddit_url = '{{ page.url | prepend: site.baseurl | prepend: site.url }}';
          reddit_title = '{{ page.title }}';
          reddit_target = 'learnjavascript';
        </script>
        <script src="//www.redditstatic.com/button/button3.js"></script>

        <a href="http://news.ycombinator.com/submit" class="hn-share-button" data-title="Some Title" data-url="http://www.igvita.com/">Vote on HN</a>

        <a href="https://twitter.com/share" class="twitter-share-button"{count} data-size="large">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>

    </div>

    {% assign related_posts = site.related_posts limit:3 %}
    {% if related_posts.size > 0 %}
    <div class="related">
      <h2>You might also be interested in...</h2>
      <ul class="related-posts">
        {% for post in related_posts %}
          <li>
            <h3>
              <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
                <small>{{ post.date | date_to_string }}</small>
              </a>
            </h3>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="comments">
      <h3>Comments</h3>

      {% include disqus.html %}
    </div>

  </div>

</article>
